* {
    font-family: "Ubuntu", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 60px;
    width: 100%; 
}

nav  h1 {
    font-size: 2.3rem;
    font-weight: 400;
    color: #5757ea;
}
nav span {
    color: orange;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
}
.arc {
    height: 130px;
    width: 80%;
    background-color: #5757ea;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 60%;
    margin-top: -45px;
    margin-right: -30px;
}

nav li a {
    text-decoration: none;
    color: white;

}

#budgt h2 {
    margin-left: 200px;
}

.budget {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    /* height: 65vh; */
    margin-top: 20px;
}

.budget .backg {
    width: 45%;
    height: 60vh;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.data {
    width: 50%;
    padding: 20px;
    border: 2px solid black;
    border-radius: 20px;
    border-color: orange;
    
}

.amt {
    color: red;
    padding-left: 10px;
}
.amt1 {
    color: rgb(94, 148, 13);
    padding-left: 10px;
}

.data .btn {
    margin-right: -3px;
    box-shadow: 0 0 0 0;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.buttons button,
button {
    background-color: #5757ea;
    border: none;
    color: white;
    font-weight: 600;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 1px 0 2px 1px rgb(43, 41, 41);
}



.balance {
    color: rgb(94, 148, 13);
    font-weight: 800;
    font-size: 2.3rem;
}
input {
    border: none;
}

.pie {
    width: 100%;
    height: 80vh;
    margin-left: 100px;
}

.buttons .btn2 {
    background-color: rgb(255, 98, 0);
}

.detailz {
    margin-top: 135px;
    display: flex;
    justify-content: space-evenly; 

}

.detailz .det {
    width: 100%;
    padding:30px 140px 0;
}
.detailz .det h4{
    font-size: 2.3rem;
    font-weight: 600;
}

.detailz .det li {
    font-size: 1.7rem; 
}



@media (max-width: 768px) {

    nav {
        display: none;
    }
    .budgt {
        display: flex;
        flex-direction: column;
    }
    .budget {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        
        
    }
}