* {
    font-family: "Ubuntu", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 40px;
    width: 100%; 
    position: static;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 80px;
}

nav  h1 a{
    font-size: 2.3rem;
    font-weight: 400;
    color: #5757ea;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    
}

nav span {
    color: orange;
    
}
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding-top: 65px;
}
.arc {
    height: 100px;
    width: 80%;
    background-color: #5757ea;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    margin-top: -45px;
    margin-right: -20px;
    overflow: hidden;
}

nav li a {
    text-decoration: none;
    color: white;
    
}
nav ul li a:hover {
    text-decoration: underline;
}

.hamburger {
    display: none;
    font-size: 2rem;
    cursor: pointer;
  }

/* Home */
.home {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    
}
.grid {
    width: 85%;
    padding: 30px;
    display: flex;
    height: 60vh;
    border: 2px solid orange;
    border-radius: 20px;
    margin-bottom: 20px;
    justify-content: space-between;
}
.grid .pixx {
    width: 45%;
}
.grid .pixx img {
    height: 100%;
}

.textarea {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}




/* Budget */
#budgt h2 {
    font-size: 2.3rem;
    font-weight: 600;
    margin-top: -20px;
}

.budget {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    /* height: 65vh; */
    margin-top: 50px;
}

.budget .backg {
    width: 45%;
    height: 60vh;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.data {
    width: 50%;
    padding: 20px;
    border: 2px solid black;
    border-radius: 20px;
    border-color: orange;
    
}

.amt {
    color: red;
    padding-left: 10px;
}
.amt1 {
    color: rgb(94, 148, 13);
    padding-left: 10px;
}

.data .btn,
.btn {
    margin-right: -3px;
    box-shadow: 0 0 0 0;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.buttons button,
button {
    background-color: #5757ea;
    border: none;
    color: white;
    font-weight: 600;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 1px 0 2px 1px rgb(43, 41, 41);
}



.balance {
    color: #5e940d;
    font-weight: 800;
    font-size: 2.3rem;
}
input {
    border: none;
    text-transform: uppercase;
}

.pie {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}
.pieChart {
    width: 60%;
    height: 80vh;
    margin-left: 10px;
}

.buttons .btn2 {
    background-color: rgb(255, 98, 0);
}

.detailz {
    margin-top: 105px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 100%;
    flex-wrap: wrap;
    border: 2px solid rgb(255, 98, 0);
    border-radius: 20px;
}

.detailz .det {
    display: flex;
    flex-wrap: wrap;
    overflow: wrap;
    width: 30%;
    padding:15px;
    
    
}
.detailz .det h4{
    font-size: 2.1rem;
    font-weight: 600;
    display: flex;
    width: 100%;
}

.detailz .det li {
    font-size: 1.5rem;
}



.detailz .det ul{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: -40px;
}

    

.pieChart canvas {
    width: 100%;
}

.buttn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* Invoice Styles */
.invoice {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 35px;
}
.invoice h2 {
    margin-bottom: 35px;
}

.customer-info {
    margin-left: 0px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}
.tab {
    border: 2px solid orange;
    padding: 15px;
    width: 100%;
    border-radius: 20px;
}

.invoice tr {
    padding-left: 10px;
}
.invoice input {
    width: 100%;
    padding-left: 10px;
}
.invoice .date{
    margin: 5px;
    display: flex;
    justify-content: flex-start;
    width: 100%;
}
.datee {
    padding: 5px;
}

.history {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}
.history button {
    justify-content: center;
    display: flex;
    align-items: center;
    width: 9vw;
}
.highlighted {
    background-color: orange !important;
    border-radius: 50%;
}





/* Inventory */
.inventory  {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.float {

}
.inventory h2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}




@media (max-width: 750px) {

    
    .hamburger {
        display: initial;
        z-index: 12;
      }

      .arc {
        position: fixed;
        top: 0;
        right: -150px; 
        height: 120vh;
        width: 150px;
        background-color: #5757ea;
        transition: right 0.5s ease-in-out; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 1;
        border-radius: 100%;
        margin-right: -80px;
      }


      .arc ul {
        list-style-type: none;
        padding: 0;
        flex-direction: column;
      }
      
      .arc ul li {
        margin: 20px 0;
      }
      
      .arc ul li a {
        color: white;
        text-decoration: none;
        font-size: 1.5rem;
      }

      .arc.show {
        right: 0; 
      }
    #budgt h2 {
        margin-left: 20px;
        font-size: 2.4rem;
        
    }
    .budgt {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .budget {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .budget .backg {
        width: 80%;
        height: 60vh;
        align-items: center;
        margin-left: 10px;
    }
    .data {
        width: 90%;
        padding: 20px;
        margin-left: 0px;
        margin-top: 30px;
    }
    .detailz {
        display: flex;
        width: 100%;
    }
    .detailz .det {
        display: flex;
        flex-wrap: wrap;
        width: 200px;
        padding: 10px;
        justify-content: center;
        
        height: 30vh;
    }
    .detailz .det ul{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .pie {
        width: 100%;
        display: flex;
        flex: wrap;
    }
    .pieChart {
        width: 60%;
    }
    
    .smalll {
        display: hidden;
    }

    .detailz .det h4 {
        font-size: 1rem;
        font-weight: 600;
        
    }
    .detailz .det li {
        font-size: 1rem;
    }
    .detailz .det ul {
        align-items: center;
    }
}


@media (max-width: 458px) {
    nav {
        margin-top: 10px;
    }
    .arc {
        width: 200px;
        height: 101%;
        margin-top: -4px;
        margin-right: -100px;
    }
    nav .arc {
        display: initial;
    }
    nav  h1 a {
        font-size: 1.8rem;
    }

    .arc ul li a {
        color: white;
        text-decoration: none;
        font-size: 0.9rem;
    }
    .arc ul {
        margin-top: 250px;
        margin-right: 80px;
    }

    
    .data {
        margin-top: -120px;
        padding: 10px;
    }
    #budgt h2 {
        font-size: 1.5rem;
        margin-right: 20px;
    }
    .pie {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    }
    .detailz .det {
        width: 50%;
        margin-top: -140px;
    }

    .detailz {
        display: flex;
        flex-direction: column;
    }
    .detailz button {
        margin-left: 0px;
    }
    .detailz .det h4 {
        margin-left: 20px;
    }

    .pieChart {
        width: 100%;
        margin-left: 0px;
    }
    .data .btn {
        margin-right: 1px;
        
        font-size: 10px;
        padding:4px 4px ;
        font-weight: 800;
        box-shadow: 0 0 0 0;
    }
    .total h3 {
        display: flex;
        justify-content: space-between;
        font-size: 0.7rem;
        font-weight: 800;
    }
    .balance {
        margin-left: 20px;
    }
    .history button {
        width: 19vw;
        font-size: 10px;
        display: flex;
    }
    .invoice {
        padding: 15px;
    }
    th {
        font-size: 12px;
        padding: 5px;
    }
    th:nth-child(3) {
        padding: -5px;
    }
    .invoice input  {
        font-size: 11px;
    }
    .btn {
        margin-right: 3px;
    }
    .grid {
        flex-direction: column;
        justify-content: center;
        height: 40vh;
        width: 80%;
    }
    .grid .pixx,
    .textarea {
        width: 100%;
    }
    .grid .pixx img {
        width: 100%;
    }
    .swtch button {
        padding: 8px 5px;
    }
    .inventory-table th {
        content: attr(data-short);
      }
    
}